<footer id="footer">
  <div class="container">
    <p class="pull-left" ><b>&copy; LZC & ZL &middot;</b>
      <a href="#">Privacy</a> &middot; <a href="#">Terms</a>
    </p>
    <div class="genericon-footer">
      <div class="social-icons">
        <a href="https://github.com/" alt="f200" class="genericon genericon-github hidden-xs" target="_blank"></a>
      </div>
      <div class="social-icons">
        <a href="https://twitter.com/" alt="f202" class="genericon genericon-twitter hidden-xs" target="_blank"></a>
      </div>
      <div class="social-icons">
        <a href="https://www.linkedin.com/"
           alt="f207" class="genericon genericon-linkedin hidden-xs" target="_blank"></a>
      </div>
    </div>
  </div>
</footer>
